/* Site header */
.header {
  margin-top: 36px;
  padding-bottom: 124px;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__box-logo:hover {
  transform: scale(1.1);
  transition: all 1.2s ease;
}

.header__box-list {
  display: flex;
  align-items: center;
}

.header__box-list-item {
  margin: 0 12px;
}

.header__box-item-link {
  font-family: 'Prompt';
  line-height: 25px;

  color: $blue;

  text-decoration: none;

  &:hover {
    opacity: 0.5;
    transition: all 0.5s ease;
  }
  &:active {
    opacity: 1;
    color: $blue;
  }
}

.header__box-link {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 139px;
  width: 100%;
  height: 60px;

  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: $blue;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
  border-radius: 5px;

  text-decoration: none;
  cursor: pointer;

  &:hover {
    transform: scale(0.9);
    transition: all 1.2s ease;
  }
}

.image {
  position: absolute;
  z-index: -1;

  top: 0;
  right: 0;
  left: 37%;
  bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    margin-top: 26px;
    padding-bottom: 84px;
  }
  
  .header__box-item-link {
    font-size: 16px;
  }

  .header__box-link {
    max-width: 119px;
    height: 50px;
  }

  .image {
    width: 640px;
    height: 752px;
    left: 36%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__box-logo {
    width: 101px;
    height: 45px;
  }

  .header__box-list-item {
    margin: 0 7px;
  }

  .header__box-item-link {
    font-size: 14px;
  }

  .header__box-link {
    max-width: 89px;
    
    height: 35px;
    font-size: 14px;
  }

  .image {
    width: 440px;
    height: 552px;
    left: 40%;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    padding-bottom: 64px;
  }

  .image {
    width: 340px;
    height: 452px;
    left: 16%;
  }

  .header__box-nav {
    display: none;
  }

  .header--active .header__box-nav {
    display: block;
  }

  .header__box-list {
    flex-direction: column;
    
    position: absolute;

    top: 12%;
    left: 0;
    padding: 20px 150px ;

    background-color: rgba(255,255,255,.8);
    box-shadow: 0px 4px 20px rgb(193 193 193 / 30%);
  }

  .header__box-list-item {
    margin-bottom: 7px;
  }

  .header__box-item-link {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__box-list {
    padding: 20px 134px;
  }

  .header__box-link {
    font-size: 13px;
  }
}